@model DnDCharacter.Models.Abilities

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Abilities</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wisdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
